.blog-main {
    padding-top: 100px;
    padding-bottom: 66px;
    background-color: #28293E;
    text-align: center;

    .h1-title {
        color: var(--white);
    }

    .text {
        width: 570px;
        margin: 24px auto 0;
        color: var(--text-light-gray);
    }
}

.blog-latest {
    margin-top: 80px;
    margin-left: 135px;
    margin-right: 135px;
    padding-bottom: 68px;
    border-bottom: 1px solid #F3D1BF;
}

.blog-latest-item {
    width: 570px;

    .text-big {
        margin-top: 26px;
        color: var(--text-dark);
    }

    .h3-title {
        width: 538px;
        margin-top: 19px;
        color: var(--text-dark);
    }

    .text {
        margin-top: 12px;
        color: var(--text-dark-gray);
    }
}

.blog-content {
    margin-top: 79px;
    margin-left: 135px;
    margin-right: 135px;
    padding-bottom: 80px;
    border-bottom: 1px solid #F3D1BF;
}

.blog-box {
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 68px;
}

.blog-more {
    display: block;
    width: 170px;
    margin: 68px auto 0;
    padding-top: 18px;
    padding-bottom: 16px;
    background-color: var(--white);
    border: none;
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border-radius: 6px;
    cursor: pointer;
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--text-dark);
}

.blog-newsletter {
    margin-top: 60px;
    margin-left: 135px;
    margin-right: 135px;
    padding-bottom: 64px;
    border-bottom: 1px solid #F3D1BF;

    .h3-title {
        color: var(--text-dark);
    }
}

.blog-newsletter-fm {
    margin-top: 3px;

    input {
        width: 370px;
        padding-top: 9px;
        padding-bottom: 7px;
        padding-left: 16px;
        background-color: var(--white);
        border: 1px solid #F3D1BF;
        border-radius: 6px;
        outline: none;
        font-family: "Epilogue", sans-serif;
        font-size: 16px;
        line-height: 32px;
        color: var(--text-dark-gray);

        &::placeholder {
            color: var(--text-dark-gray);
        }
    }

    button {
        width: 170px;
        margin-left: 30px;
        padding-top: 18px;
        padding-bottom: 16px;
        background-color: var(--white);
        border: none;
        box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
        border-radius: 6px;
        cursor: pointer;
        font-family: "Epilogue", sans-serif;
        font-weight: 900;
        font-size: 14px;
        text-transform: uppercase;
        color: var(--text-dark);
    }
}

.blog-help {
    margin-top: 111px;
    margin-bottom: 80px;
    margin-left: 135px;
    margin-right: 135px;
    padding-top: 38px;
    padding-bottom: 72px;
    padding-left: 100px;
    gap: 86px;
    background-color: #EF6D58;
    border-radius: 6px;

    .h2-title {
        width: 405px;
        color: var(--white);
    }

    .text {
        width: 470px;
        margin-top: 28px;
        color: var(--text-light-gray);
    }
}

.blog-help-link {
    display: block;
    width: 154px;
    margin-top: 34px;
    padding-top: 18px;
    padding-bottom: 16px;
    background-color: var(--white);
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border-radius: 6px;
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-dark);
}