.portfolio-main {
    padding-top: 100px;
    padding-bottom: 66px;
    background-color: #28293E;
    text-align: center;

    .h1-title {
        color: var(--white);
    }

    .text {
        width: 570px;
        margin: 24px auto 0;
        color: var(--text-light-gray);
    }
}

.portfolio-tabs {
    width: fit-content;
    margin: 68px auto 0;
    gap: 16px;

    .tab-btn {
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-family: "Epilogue", sans-serif;
        font-size: 16px;
        color: var(--text-dark-gray);

        sup {
            font-size: 14px;
        }
    }

    .tab-btn__active {
        color: var(--text-dark);

        sup {
            color: var(--text-dark-gray);
        }
    }
}

.portfolio-content {
    margin-top: 68px;
    margin-left: 135px;
    margin-right: 135px;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 32px;
}

.portfolio-more {
    display: block;
    width: 170px;
    margin: 80px auto 0;
    padding-top: 18px;
    padding-bottom: 16px;
    background-color: var(--white);
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border-radius: 6px;
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-dark);
}

.portfolio-help {
    margin-top: 112px;
    margin-bottom: 80px;
    margin-left: 135px;
    margin-right: 135px;
    padding-top: 38px;
    padding-bottom: 72px;
    padding-left: 100px;
    gap: 86px;
    background-color: #EF6D58;
    border-radius: 6px;

    .h2-title {
        width: 405px;
        color: var(--white);
    }

    .text {
        width: 470px;
        margin-top: 28px;
        color: var(--text-light-gray);
    }
}

.portfolio-help-link {
    display: block;
    width: 154px;
    margin-top: 34px;
    padding-top: 18px;
    padding-bottom: 16px;
    background-color: var(--white);
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border-radius: 6px;
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-dark);
}