.services-main {
    padding-top: 100px;
    padding-bottom: 66px;
    background-color: #28293E;
    text-align: center;

    .h1-title {
        color: var(--white);
    }

    .text {
        width: 570px;
        margin: 24px auto 0;
        color: var(--text-light-gray);
    }
}

.services-agency {
    margin-top: 76px;
    margin-left: 135px;
    gap: 130px;

    .h5-title {
        color: var(--text-light-accent);
    }

    .h3-title {
        width: 470px;
        margin-top: 33px;
        color: var(--text-dark)
    }

    >div:nth-child(2) {
        width: 570px;
        display: flex;
        margin-top: 48px;
        padding-top: 20px;
        flex-direction: column;
        gap: 20px;
        color: var(--text-dark-gray);
    }
}

.services-info {
    margin-top: 97px;
    margin-left: 135px;
    margin-right: 135px;
    padding-top: 47px;
    border-top: 1px solid #F3D1BF;
    flex-direction: column;
    gap: 47px;
}

.services-info-bl {
    padding-bottom: 100px;
    border-bottom: 1px solid #F3D1BF;

    .top {
        padding-bottom: 48px;
        border-bottom: 1px solid #F3D1BF;

        .caption {
            gap: 36px;
        }
    }

    .bottom {
        width: 570px;
        margin-top: 76px;
        margin-left: auto;

        .h3-title {
            color: var(--text-dark);
        }

        .text {
            margin-top: 28px;
            color: var(--text-dark-gray);
        }

        .list {
            list-style-type: none;
            margin-top: 36px;

            li {
                display: flex;
                align-items: center;
                gap: 16px;
                margin-bottom: 16px;
                font-size: 16px;
                color: var(--text-dark);

                &:last-child {
                    margin-bottom: 0;
                }

                &::before {
                    content: "";
                    display: block;
                    width: 32px;
                    height: 32px;
                    background: url("/public/images/check.png") no-repeat;
                }
            }
        }
    }
}

.services-info-bl:nth-child(2), .services-info-bl:nth-child(3) {
    .top {
        padding-bottom: 0;
        border-bottom: none;
    }
}

.home-stats {
    margin-top: 161px;
    margin-left: 135px;
    margin-right: 134px;
    border-collapse: collapse;

    td {
        width: 391px;
        padding-top: 45px;
        padding-bottom: 38px;
        padding-left: 48px;
        border: 1px solid #F3D1BF;
    }

    dl {
        color: var(--text-dark);

        dt {
            font-weight: 900;
            font-size: 40px;
            line-height: 48px;
        }

        dd {
            margin-top: 13px;
            font-size: 20px;
            line-height: 32px;
        }
    }
}

.services-work {
    margin-top: 107px;
    margin-left: 135px;
    gap: 130px;

    .h5-title {
        color: var(--text-light-accent);
    }

    .h3-title {
        width: 448px;
        margin-top: 17px;
        color: var(--text-dark);
    }

    .text {
        width: 470px;
        margin-top: 31px;
        color: var(--text-dark-gray);
    }
}

.services-work-more {
    display: block;
    margin-top: 28px;
    font-size: 16px;
    line-height: 32px;
    color: var(--text-dark);
}

.services-work-content {
    margin-top: 40px;
    flex-direction: column;
    gap: 32px;
}

.services-work-item {
    &:nth-child(1) {
        gap: 66px;
    }

    &:nth-child(2) {
        gap: 54px;
    }

    &:nth-child(3) {
        gap: 53px;
    }
}

.services-help {
    margin-top: 140px;
    margin-bottom: 80px;
    margin-left: 135px;
    margin-right: 135px;
    padding-top: 38px;
    padding-bottom: 72px;
    padding-left: 100px;
    gap: 86px;
    background-color: #EF6D58;
    border-radius: 6px;

    .h2-title {
        width: 405px;
        color: var(--white);
    }

    .text {
        width: 470px;
        margin-top: 28px;
        color: var(--text-light-gray);
    }
}

.services-help-link {
    display: block;
    width: 154px;
    margin-top: 34px;
    padding-top: 18px;
    padding-bottom: 16px;
    background-color: var(--white);
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border-radius: 6px;
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-dark);
}