.post-main {
    margin-top: 38px;
    padding-left: 435px;

    .h2-title {
        width: 570px;
        margin-top: 45px;
        color: var(--text-dark);
    }
}

.post-main-prev {
    gap: 14px;

    .prev-name {
        font-weight: 700;
        font-size: 12px;
        color: var(--text-dark);
    }
}

.post-main-bottom {
    margin-top: 28px;
    gap: 243px;

    .text {
        color: var(--text-dark);

        span {
            color: var(--text-dark-gray);
        }
    }
}

.post-pic {
    width: fit-content;
    margin: 68px auto 0;

    img {
        width: 970px;
    }
}

.post-content {
    width: 570px;
    margin: 74px auto 0;

    .text-big,
    .h4-title {
        color: var(--text-dark)
    }

    .text {
        color: var(--text-dark-gray);
    }

    .ul-list {
        list-style-type: none;

        li {
            display: flex;
            align-items: center;
            gap: 16px;
            font-size: 16px;
            line-height: 32px;
            color: var(--text-dark);

            &::before {
                content: "";
                display: block;
                width: 8px;
                height: 8px;
                background-color: #EF6D58;
                border-radius: 100%;
            }
        }
    }

    .ol-list {
        margin-left: 18px;

        li {
            font-size: 16px;
            line-height: 32px;
            color: var(--text-dark);
        }
    }

    .quote {
        width: 570px;
        margin-top: 69px;
        margin-bottom: 76px;
        padding-top: 40px;
        padding-bottom: 32px;
        padding-left: 32px;
        background-color: #F9E5DA;
        border-radius: 6px;
        gap: 32px;

        .text-big {
            width: 426px;
            color: var(--text-dark);
        }
    }

    .bottom {
        margin-top: 58px;
        padding-top: 63px;
        border-top: 1px solid #F3D1BF;

        .author {
            gap: 24px;

            .text-big {
                color: var(--text-dark);
            }

            .text-small {
                margin-top: 6px;
                color: var(--text-dark-gray);
            }
        }

        .social {
            gap: 8px;
        }

        .social-link {
            width: 48px;
            height: 48px;
            background-color: #EF6D58;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            svg:hover path {
                fill: #0000FF;
            }
        }
    }
}

.post-related {
    margin-top: 80px;
    margin-left: 135px;
    margin-right: 135px;
    padding-top: 72px;
    border-top: 1px solid #F3D1BF;

    .h4-title {
        color: var(--text-dark);
    }
}

.post-related-box {
    margin-top: 39px;
    gap: 30px;
}

.post-help {
    margin-top: 132px;
    margin-bottom: 80px;
    margin-left: 135px;
    margin-right: 135px;
    padding-top: 38px;
    padding-bottom: 72px;
    padding-left: 100px;
    gap: 86px;
    background-color: #EF6D58;
    border-radius: 6px;

    .h2-title {
        width: 405px;
        color: var(--white);
    }

    .text {
        width: 470px;
        margin-top: 28px;
        color: var(--text-light-gray);
    }
}

.post-help-link {
    display: block;
    width: 154px;
    margin-top: 34px;
    padding-top: 18px;
    padding-bottom: 16px;
    background-color: var(--white);
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border-radius: 6px;
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-dark);
}