.header {
    padding: 16px 135px;
    background-color: #28293E;
}

.header-nav {
    list-style-type: none;
    width: 515px;
    justify-content: space-between;
}

.header-nav-item {
    font-size: 16px;
    line-height: 32px;
    color: var(--white);

    a {
        color: var(--white);
    }
}

.header-contact {
    display: block;
    width: 138px;
    padding-top: 18px;
    padding-bottom: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2957);
    border-radius: 6px;
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
}