* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;
  --black: #000000;
  --text-light-accent: #EF6D58;
  --text-light-gray: rgba(255, 255, 255, 0.64);
  --text-dark: #391400;
  --text-dark-gray: rgba(57, 20, 0, 0.64);
}

a {
  text-decoration: none;
}

body {
  width: 1440px;
  margin: 0 auto;
  background-color: #FDF0E9;
  font-family: "Epilogue", sans-serif;
}

.d-b {
  display: block;
}

.d-f {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.d-n {
  display: none;
}

.d-b {
  display: block;
}

.pos-r {
  position: relative;
}

.btn-clear {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.cur-p {
  cursor: pointer;
}

.h1-title {
  font-weight: 900;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -2px;
}

.h5-title {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.h2-title {
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
}

.h3-title {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
}

.h4-title {
  font-size: 24px;
  line-height: 32px;
  color: var(--text-dark);
}

.text {
  font-size: 16px;
  line-height: 32px;
}

.text-big {
  font-size: 20px;
  line-height: 32px;
}

.text-small {
  font-size: 14px;
  line-height: 24px;

}